.music-player {
  display: flex;
  height: 100vh;
  background: #181818;
  flex-direction: row;
}

.name {

  padding: 20px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  width: 10%;

}


.name .spotify-logo {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.track-list {
  width: 25%;
  padding: 20px;
  background: #121212;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #333;
  overflow-y: auto;
}

.track-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  cursor: pointer;
  transition: background 0.3s ease;
}

.track-item.active {
  background: #333;
}

.track-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.track-info {
  flex-grow: 1
}

@media (max-width:460px) {

    .track-list{
        display: none;
    }
    .music-player{
      display: flex;
      flex-direction: column;
    }

    .name-r{
      margin: 0;
      padding: 0;
     height: 10%;
     width: 100%;
      background-color: rgb(46, 50, 54);

    }
}